<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ModelUser1" connectionString="data source=DESKTOP-TBFG5D3\SQLEXPRESS;initial catalog=Users;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TopCatalogsEntities" connectionString="metadata=res://*/LibraryModel1.csdl|res://*/LibraryModel1.ssdl|res://*/LibraryModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TBFG5D3\SQLEXPRESS;initial catalog=TopCatalogs;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TopCatalogsEntities1" connectionString="metadata=res://*/Models.ModelTopCatalog.csdl|res://*/Models.ModelTopCatalog.ssdl|res://*/Models.ModelTopCatalog.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TBFG5D3\SQLEXPRESS;initial catalog=TopCatalogs;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UsersEntities" connectionString="metadata=res://*/Models.ModelUser.csdl|res://*/Models.ModelUser.ssdl|res://*/Models.ModelUser.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TBFG5D3\SQLEXPRESS;initial catalog=Users;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdminsEntities" connectionString="metadata=res://*/Models.ModelAdmin.csdl|res://*/Models.ModelAdmin.ssdl|res://*/Models.ModelAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TBFG5D3\SQLEXPRESS;initial catalog=Admins;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelProduct" connectionString="data source=desktop-tbfg5d3\sqlexpress;initial catalog=Products;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>